*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  /* background: #da22ff; fallback for old browsers 
  background: -webkit-linear-gradient(to top, #da22ff, #9733ee); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #da22ff, #9733ee); */

}

#light {
   background: #da22ff;
  background: -webkit-linear-gradient(to top, #da22ff, #9733ee);
  background: linear-gradient(to right, #da22ff, #9733ee); 
  height: 100vh;
  
}

#dark {
  background-color:	#303030;
  height: 100vh;
}

.App {
  font-family: fantasy;
  color: white;
}

/*======= QUESTION =======*/

.question-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 10px;
}

.question-content{
  /*border: 5px solid rgb(115, 56, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.question-content h4{
  margin-top: .6rem;
  /*padding: .5rem 2rem .5rem 2rem;*/
  height: 55px;
  width: 310px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
}

.question-content h4:hover{
  cursor: pointer;
}

.next-btn{
  padding: .7rem;
  width: 100px;
  background-color: white;
  color: #9733EE;
  font-weight: 600;
  text-decoration: none;
  border: none;
  margin-top: .6rem;
  font-size: .8rem;
  border-radius: 10px;
}
.next-btn:hover{
  background-color:rgb(232, 232, 232);
  transition: all 0.4s ease;
  cursor: pointer;
}

.correct-bg{
  background-color: #00FF7F;
}

.incorrect-bg{
  background-color: #DC143C;
}

.white-bg{
  background-color:	#B8B8B8;
}

.show-question{
  background-color: #303030;
  padding: 20px;
  font-weight: 600; 
  border: 3px solid #551e85;
}

.clock{
  margin-bottom: 20px;
}

/*========= MAIN ========*/

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.start-btn{
  background-color: #9733EE;
  color: white;
  font-weight: bold;
  padding: 12px;
  font-size: 18px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
}

.start-btn:hover{
  background-color: #551e85;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}

#light .scoreboard{
  border: 3px solid #551e85;
  background-color: #303030;
  width: 45%;
  height: 125px;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
}

#dark .scoreboard{
  border: 3px solid #551e85;
  background-color: #303030;
  width: 45%;
  height: 125px;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  box-shadow: 16px 14px 20px #0000008c;

}

.scoreboard p{
  padding: 10px;
}

/*========= LOGIN ========*/

.log-btn{
  background-color: #9733EE;
  color: white;
  font-weight: bold;
  padding: 12px;
  font-size: 18px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
}

.log-btn:hover{
  background-color: #551e85;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}

/*========= NAVBAR ========*/
#light .navbar-container{
  background-color: #9733EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 1.5rem;
}
#dark .navbar-container{
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 1.5rem;
  text-align:center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%;
}

 .navbar-container h1{
  margin-left: 180px;
 }


 .profile{
  display: flex;

 }

 .profile p{
  display: inline-block;
  align-self: flex-end;
  font-size: 1.2rem;
  background-color: #303030;
  border: 3px solid#551e85;
  padding: 4px;
  margin-right: 8px;
 }

 .profile img{
  border-radius: 50%;
  height: 40px;
  margin-right: 8px;
 }

 .profile button{
  background-color: #FF1493;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
 }

 .profile button:hover{
  cursor: pointer;
  background-color: #C71585;
  transition: all 0.6s;
 }

 .login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
 }

 /*======== RESULT ========*/
 .result-positive{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .result-positive h2{
  margin-top: 15px;
  background-color: #303030;
  border: 3px solid#551e85;
  padding: 4px;
 }

 .result-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .result-circle-positive{
  margin-top: 15px;
  border: 4px solid #00FF7F;
  background-color: #33CC66;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .result-circle-negative{
  margin-top: 15px;
  border: 4px solid #CC0000;
  background-color: #FF0033;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

/*========= CARD =========*/
.card-slider{
width: 70%;
margin: 0 auto;
}

.card{
  min-height: 200px;
  width: 210px;
  background-color: #551e85;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #FF1493;
  margin-top: 30px;
}

.card div{
  margin-top: 20px;
  font-size: 60px;
}

.card p{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 800;
}

 h5{
  margin-top: 5px;
}

.slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }

  .back-btn{
    background-color: #FF1493;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
  }