*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  /* background: #da22ff; fallback for old browsers 
  background: -webkit-linear-gradient(to top, #da22ff, #9733ee); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #da22ff, #9733ee); */

}

#light {
   background: #da22ff;
  background: -webkit-linear-gradient(to top, #da22ff, #9733ee);
  background: linear-gradient(to right, #da22ff, #9733ee); 
  height: 100vh;
}

#dark {
  background-color:	#303030;
  height: 100vh;
}

.App {
  font-family: fantasy;
  color: white;
}

.question-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
}

.question-content{
  border: 5px solid rgb(115, 56, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.question-content h3{
  border: 2px solid rgb(189, 187, 187);
  margin-top: .6rem;
  padding: .5rem 2rem .5rem 2rem;
}

.question-content h3:hover{
  cursor: pointer;
}

.next-btn{
  padding: .7rem;
  background-color: white;
  color: #9733EE;
  text-decoration: none;
  border: none;
  margin-top: .6rem;
  font-size: .8rem;
}
.next-btn:hover{
  background-color:rgb(232, 232, 232);
  transition: all 0.4s ease;
  cursor: pointer;
}

.correct-bg{
  background-color: greenyellow;
}

.incorrect-bg{
  background-color: red;
}

.white-bg{
  background-color:rgb(232, 232, 232);
}

/*========= MAIN ========*/

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.start-btn{
  background-color: #9733EE;
  color: white;
  font-weight: bold;
  padding: 12px;
  font-size: 18px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
}

.start-btn:hover{
  background-color: #551e85;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}

.scoreboard{
  border: 3px solid #551e85;
  background-color: #303030;
  width: 45%;
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.scoreboard p{
  padding: 10px;
}

/*========= LOGIN ========*/

.log-btn{
  background-color: #9733EE;
  color: white;
  font-weight: bold;
  padding: 12px;
  font-size: 18px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
}

.log-btn:hover{
  background-color: #551e85;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}

/*========= NAVBAR ========*/
.navbar-container{
  background-color: #9733EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 1.5rem;
}

 .profile{
  display: flex;
 }

 .profile p{
  display: inline-block;
  align-self: flex-end;
  font-size: 1.2rem;
  background-color: #303030;
  border: 3px solid#551e85;
  padding: 4px;
  margin-right: 8px;
 }

 .profile img{
  border-radius: 50%;
  height: 40px;
  margin-right: 8px;
 }

 .profile button{
  background-color: #FF1493;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
 }

 .profile button:hover{
  cursor: pointer;
  
 }